$G20: #ffffff;
$G30: #f5f5f5;
$G50: #e5e5e5;
$G70: #cccccc;
$G80: #a6a6a6;
$G90: #808080;
$G100: #383838;

$B10: #8acaf9;
$B30: #77c2f8;
$B40: #50b0f6;
$B50: #3da8f5;
$B60: #3686dc;
$B80: #2a75ab;
$B90: #246493;
