
.fade-enter-active{transition:opacity .3s ease-out
}
.fade-leave-active{transition:opacity .2s ease-out
}
.fade-enter,.fade-leave-active{opacity:0
}
.bg-c-brand{background-color:#78A4F4
}
.bg-c-brand-light{background-color:#93b6f6
}
.bg-c-brand-dark{background-color:#729ce8
}
.at-container{position:relative;margin:48px auto;width:90%;background-color:#fff;box-shadow:0 4px 30px 0 rgba(223,225,230,0.5)
}
.at-markdown{padding:32px 48px 48px
}
.at-markdown img{vertical-align:middle
}
.at-markdown>section{margin:0 auto
}
.at-markdown>section>h1,.at-markdown>section>h2,.at-markdown>section>h3,.at-markdown>section>h4{margin:16px 0;line-height:1.5
}
.at-markdown>section>h1{margin-top:0;font-size:24px
}
.at-markdown>section>h2,.at-markdown>section>h3{margin-top:24px
}
.at-markdown>section>hr{margin:1.2em 0;border:0;border-bottom:1px solid #C5D9E8
}
.at-markdown>section>p{padding:0;line-height:1.7
}
.at-markdown>section>p+p{margin-top:8px
}
.at-markdown>section code{padding:.3em .5em;font-size:.9em;vertical-align:middle;border:1px solid #ECECEC;border-radius:2px;background-color:#F7F7F7
}
.at-markdown>section pre{margin:16px 0;padding:16px;background-color:#F7F7F7;overflow:auto
}
.at-markdown>section pre code{padding:0;font-size:1em;border:none;border-radius:0;background-color:transparent
}
.at-markdown>section>blockquote{margin:16px 0;padding:0 15px;color:#C9C9C9;border-left:4px solid #ECECEC
}
.at-markdown>section>blockquote p{color:#9B9B9B
}
.at-markdown>section>ul{margin:16px 0;padding-left:24px;list-style:disc
}
.at-markdown>section>ul li{line-height:1.8
}
.at-markdown>section>table{margin:24px 0
}
.at-markdown table.table{display:block;width:100%;background-color:#fff;color:#5e6d82;font-size:14px;border-collapse:collapse;overflow:auto;-webkit-overflow-scrolling:touch
}
.at-markdown table.table th{text-align:left;border-top:1px solid #f3f7fa;background-color:#FAFBFC
}
.at-markdown table.table td,.at-markdown table.table th{border-bottom:1px solid #f3f7fa;padding:10px 8px
}
.at-markdown table.table td:first-child,.at-markdown table.table th:first-child{padding-left:10px
}
.at-component__container{margin:16px 0
}
.at-component__sample{position:relative;padding:32px;border:1px solid #e2ecf4;border-radius:4px 4px 0 0;background-color:#fff
}
.at-component__sample .demo-desc{margin:8px 0;color:#8DABC4
}
.at-component__code{position:relative;border:1px solid #e2ecf4;border-top:none
}
.at-component__code pre{margin:0 !important
}
.at-component__code pre code{width:100%;font-size:14px;line-height:1.5;background:none;white-space:pre;overflow-x:scroll;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar
}
.at-component__code-toggle{display:block;padding:8px 12px;color:#C5D9E8;font-size:12px;text-align:center;background-color:#FAFBFC;cursor:pointer
}
.at-component-typo{margin-right:10px;border:1px solid #d6e4ef;border-radius:4px
}
.at-component-typo__show{padding:35px 20px;font-size:34px
}
.at-component-typo__detail{font-size:13px;color:#3F536E;padding:10px 20px;border-top:1px solid #d6e4ef
}
.at-component-typo__detail .note{color:#79879a
}
.at-component-typo-list{border:1px solid #d6e4ef;border-radius:4px;padding:30px;line-height:40px
}
.at-component-typo-list__item{border-bottom:1px solid #e2ecf4
}
.at-component-typo-list__item .label{color:#C2ABC7
}
.at-component-typo-list__item .note{font-size:14px
}
.at-resource{margin:24px 0
}
.at-resource__item{display:inline-block;margin:16px 32px 16px 0;width:40%;height:120px;max-width:360px;min-width:288px;border:1px solid #e2ecf4;border-radius:4px;overflow:hidden;transition:all .3s
}
.at-resource__item:hover{border-color:#f3f7fa;background-color:#fff;box-shadow:0 4px 30px 0 rgba(223,225,230,0.5)
}
.at-resource__item a{width:100%;height:100%;padding:24px
}
.at-resource__item img{display:inline-block;width:50px;vertical-align:middle
}
.at-resource__info{display:inline-block;vertical-align:middle;margin-left:16px
}
.at-resource__info-title{display:block;color:#3F536E;font-size:16px
}
.at-resource__info-desc{display:block;color:#B9B9B9;font-size:12px
}
@media screen and (max-width: 767px){
.at-markdown{padding:0 24px 32px
}
.at-component__sample{padding:16px
}
}
